
.BSTApp {	
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}

/* .appHeader { } */

.pathDiv {
	width: 100%;
	text-align: right;
	font-size: small;
	background-color: whitesmoke;
	/* padding: 5px; */
}

.appContent {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

button {
	color: white;
	border-radius: 5px;
	background-color: black;
	height: 50px;
	opacity: 60%;
	font-size: 15px;
	font-weight: bold;
	line-height: 50px;
	margin: 1px;
	padding: 0px 10px;
	cursor: pointer;
	width: 100%;
} 

button:hover {
	opacity: 100%;
	border: 3px solid seagreen;
	color: seagreen;
} 

button:disabled {
	opacity: 20%;
	cursor: auto;
}

.Tree {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0px 15px;
	margin: 1px;
	height: 400px;
	overflow: auto;
	border: 3px solid tan;
}

.TreeLabel {
	font-size: 20px;
	margin-bottom: 10px;
	cursor: pointer;
}

.TreeLevel {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 5px;
	margin: 1px;
	/* border: 3px solid darkseagreen; */
}

.TreeCell {
	height: fit-content;
	width: fit-content;
	/* margin: 1px; */
	/* border: 1px solid gray; */
}

.NodeDiv {
	font-weight: bold;
	font-size: 20px;
	margin: 5px;
	width: 25px;
	height: 25px;
	line-height: 25px;
	border-radius: 50%;
	cursor: pointer;
	border: 2px solid black;
	transition: opacity 1s; 
} .NodeDiv:hover {
	border-width: 2px;
	border-color: white;
	color: white;
}

.NodeButton {
	color: black;
	font-weight: bold;
	height: 50px;
	width: 50px;
	line-height: 50px;
	font-size: 25px;
	border-radius: 5px;
	margin: 5px;
	cursor: pointer;
	border: 1px solid black;
} .NodeButton:hover {
	border-width: 2px;
	border-color: white;
	color: white;
} .NodeButton:disabled {
	border-width: 2px;
	border-color: white;
	color: darkgray;
	opacity: 50%;
	cursor: auto;
}

.buttonPanel { 
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 15px;
	margin: 5px;
	border-top: 2px solid black;
}

.zoomInButton, .zoomOutButton {
	opacity: 20%;
	cursor: auto;
}

.backButton, .forwardButton {
	width: fit-content;
}

.hidden { display: none; }
.flex { display: flex; }