.App {
	background-color: #efefef;
	text-align: center;
	border: solid black;
	margin: 10px;
	padding: 5px;
	font-family: 'Cambria';
	border-radius: 5px;
}

.NavBar {
	display: flex;
	justify-content: space-evenly;
	padding: 10px;
	margin: 5px;
	border: 3px solid rebeccapurple;
	border-radius: 3px;
}

.NavBarItem {
	border: 2px solid gray;
	padding: 5px 10px;
	font-size: 20px;
	background-color: lightgray;
	cursor: pointer;
	border-radius: 8px;
	width: 100px;
	font-weight: bold;
} .NavBarItem:hover {
	background-color: rebeccapurple;
}

a {
	color: white;
} 

.MainPage, .ProjectsPage, .BoardPage, .FidgetPage, .BSTPage, .AntPage, .TheoryPage{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 25px;
	margin: 5px;
	border: 3px solid navy;
	border-radius: 3px;
}

/* .FidgetPage .content{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
} */

.mainPageContentDiv {
	display: flex;
	flex-direction: row;
	border: 3px solid seagreen;
	/* width: 100%; */
	padding: 10px;
}

.mainPageAnimationDiv {
	border: 2px solid slateblue;
	height: 300px;
	width: 300px;
	margin: 25px;
}



.Board, .AntBoard {
	border: 3px solid slateblue;
	width: fit-content;
	padding: 1px;
}

.CellRow, .AntCellRow {
	display: flex;
	flex-direction: row;
}

.Cell, .AntCell {
	width: 20px;
	height: 20px;
	border: 1px solid gray;
	border-radius: 5px;
} .Cell:hover {
	border-color: orangered;
}

.Dim1Board {
	display: flex;
	flex-wrap: wrap;
	border: 3px solid slateblue;
	padding: 1px;
	width: 500px;
}

.AntApp, .BSTApp {
	display: flex;
	border: .2px solid darkslateblue;
}

.tree {
	display: flex;
	flex-direction: column;
	align-items: center;
	border: solid 3px seagreen;
	padding: 5px;
}

.treeLv {
	display: flex;
	flex-direction: row;
	width: fit-content;
	border: 2px solid darkseagreen;
	padding: 5px;
	margin: 5px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.nodeLv {
	border: 1px solid black;
	margin: 2px;
	width: 25px;
	height: 25px;
	line-height: 25px;
}

.start, .turn, .step {
	width: 150px;
	height: 50px;
	margin: 10px;
}

.hidden {
	display: none;
}