
/* Top Level ************************************************************************************/

.App {
	background-color: #efefef;
	text-align: center;
	padding: 5px;
	font-family: 'Cambria';
	border-radius: 5px;
}

.NavBar {
	display: flex;
	justify-content: space-around;
	padding-bottom: 5px;
	border-bottom: 3px solid rebeccapurple;
}

.NavBarItem {
	padding: 5px 10px;
	font-size: 15px;
	color: gray;
	background-color: lightgray;
	cursor: pointer;
	border-radius: 8px;
	width: 150px;
	font-weight: bold;
} .NavBarItem:hover {
	background-color: rebeccapurple; 
	color: white;
}


/* Pages ****************************************************************************************/

/* ==> use w/ 'Main', 'Projects', 'Library', 'Connect' */
.Page { 
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 100px;
	margin: 5px;
	border-radius: 3px;
}

/* ==> use w/ 'mainPage', 'projectsPage', 'libraryPage', 'connectPage' */
.content {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	padding: 25px;
	width: 95%;
	/* border: 2px solid black; */
}


/* Apps *****************************************************************************************/

.appPreview {
	min-width: 300px;
	padding: 25px;
	margin: 5px;
	border-radius: 25px;
	border: 2px solid darkgray;
	background-color: whitesmoke;
}

.AntApp {
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	width: 350px;
}

.BSTApp {	
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}

.appHeader {

}

.pathDiv {
	width: 100%;
	text-align: right;
	font-size: small;
	background-color: whitesmoke;
	padding: 5px;
}

.appContent {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}



.BSTApp-startButton {
	height: 50px;
	opacity: 50%;
	font-size: 20px;
	font-weight: bold;
	line-height: 50px;
	margin-top: 10px;
	padding: 0px 10px;
	cursor: pointer;
	border: solid gray;
	/* width: 250px; */
} .BSTApp-startButton:hover {
	opacity: 80%;
	border-color: seagreen;
	color: seagreen;
}

.BSTApp-resetButton {
	height: 50px;
	opacity: 50%;
	font-size: 20px;
	font-weight: bold;
	line-height: 50px;
	margin-top: 10px;
	padding: 0px 10px;
	cursor: pointer;
	border: solid gray;
	/* width: 250px; */
} .BSTApp-resetButton:hover {
	opacity: 80%;
	border-color: seagreen;
	color: seagreen;
}


/* Reusable components *************************************************************************/

.BSTree, .Tree, .treeDiv {
	display: flex;
	flex-direction: column;
	align-items: center;
	/* border: solid 2px seagreen; */
	padding: 15px;
	margin: 5px;
	min-height: 300px;
}

.NodeDiv {
	border: 1px solid black;
	margin: 5px;
	width: 25px;
	height: 25px;
	line-height: 25px;
	border-radius: 50%;
}

.treeDivRow {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: fit-content;
	border: 2px solid darkseagreen;
	padding: 5px;
	margin: 5px;
}



.Board, .AntBoard {
	border: 2px solid slateblue;
	width: fit-content;
	padding: 3px;
}

.CellRow, .AntCellRow {
	display: flex;
	flex-direction: row;
}

.Cell, .AntCell {
	width: 20px;
	height: 20px;
	border: 1px solid gray;
	border-radius: 5px;
} .Cell:hover {
	border-color: orangered;
}




.BSTApp-buttonPanel { /* contains a list of nodeDivs */
	display: flex;
	flex-direction: row;

	padding: 15px;
	margin: 5px;
	border-top: 2px solid black;
	/* border: solid orange; */
}

.NodeButton {
	color: black;
	font-weight: bold;
	height: 50px;
	width: 50px;
	line-height: 50px;
	font-size: 25px;
	border-radius: 5px;

	border: 1px solid black;
	margin: 5px;
	cursor: pointer;
} .NodeButton:hover {
	border-width: 2px;
	border-color: white;
	color: white;
} .NodeButton:disabled {
	opacity: 50%;
}










.todo {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	border: 2px solid gray;
	height: 300px;
	width: 250px;
	margin: 15px 10px;
	font-size: 25px;
	font-weight: bold;
	background-color: white;
	opacity: 50%;
}





.start, .turn, .step {
	width: 150px;
	height: 50px;
	margin: 10px;
	cursor: pointer;
	border: 1px solid gray;
	background-color: darkgray;
} .start:hover, .turn:hover, .step:hover {
	font-weight: bold;
	border-width: 3px;
} .turn:hover {
	background-color: orange;
	opacity: 75%;
} .step:hover {
	background-color: teal;
	opacity: 75%;
	color: black;
}


a {
	color: white;
} 

.hidden {
	display: none;
}

