
.App {
	background-color: #efefef;
	text-align: center;
	padding: 5px;
	font-family: 'Cambria';
	border-radius: 5px;
}

.NavBar {
	display: flex;
	justify-content: space-around;
	padding-bottom: 5px;
	border-bottom: 3px solid rebeccapurple;
}

.NavBarItem {
	padding: 5px 10px;
	font-size: 15px;
	color: gray;
	background-color: lightgray;
	cursor: pointer;
	border-radius: 8px;
	width: 150px;
	font-weight: bold;
} .NavBarItem:hover {
	background-color: rebeccapurple; 
	color: white;
}



/* Pages *************************************************************************************/

.Page { /* ==> use w/ 'Main', 'Projects', 'Library', 'Connect' */
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 100px;
	margin: 5px;
}

.content { /* ==> use w/ 'mainPage', 'projectsPage', 'libraryPage', 'connectPage' */
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	padding: 25px;
	width: 95%;
	/* border: 2px solid black; */
}



/* Apps *****************************************************************************************/

.appPreview {
	min-width: 300px;
	padding: 25px;
	margin: 5px;
	border-radius: 25px;
	border: 2px solid darkgray;
	background-color: whitesmoke;
}

/* .appHeader { } */

.pathDiv {
	width: 100%;
	text-align: right;
	font-size: small;
	background-color: whitesmoke;
	/* padding: 5px; */
}

.appContent {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.BSTApp {	
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}


/* Miscellaneous *******************************************************************************/

.Board {
	border: 2px solid slateblue;
	width: fit-content;
	padding: 3px;
}

.CellRow {
	display: flex;
	flex-direction: row;
}

.Cell {
	width: 20px;
	height: 20px;
	border: 1px solid gray;
	border-radius: 5px;
} .Cell:hover {
	border-color: orangered;
}

.todo {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	border: 2px solid gray;
	height: 300px;
	width: 250px;
	margin: 15px 10px;
	font-size: 25px;
	font-weight: bold;
	background-color: white;
	opacity: 50%;
}

a { color: white; } 
.hidden { display: none; }
.flex {display: flex;}

